{% extends 'posts/base.html' %}

{% block title %}
    Личный кабинет
{% endblock %}

{% block content %}
    <h1>Личный кабинет, {{ user.username }}</h1>
    <div class="media text-muted pt-3">
        <img class="bd-placeholder-img mr-2 rounded" width="64" height="64" src="{{ user.profile.img.url }}">
        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
          <strong class="d-block text-gray-dark">{{ user.username }}</strong>
          {% if user.email %}
            <b>Email:</b> {{ user.email }}
          {% endif %}
        </p>
    </div>
    <form method="post" enctype="multipart/form-data" class="mt-4">
      {% csrf_token %}
      {{ profile_form.as_p }}
      {{ update_form.as_p }}
      <button class="btn btn-outline-danger" type="submit">Редактировать</button>
    </form>
{% endblock %}