{% extends 'posts/base.html' %}

{% block title %}
    {% if view.kwargs.username %}
        Автор {{ view.kwargs.username }}
    {% else %}
        Главная страница
    {% endif %}
{% endblock %}

{% block content %}
    {% if view.kwargs.username %}
        <h2>Все посты автора {{ view.kwargs.username }}:</h2>
        <h4>Колличество постов: {{ page_obj.paginator.count }}</h4>
    {% endif %}
    {% for post in object_list %}
    <div class="alert alert-light">
        <div class="row">
            <div class="col-4">
                <img src="{{ post.author.profile.img.url }}" alt="{{ post.author }}" class="user_images">
            </div>
            <div class="col-8">
                <span class="text-muted">Дата публикация: {{ post.pub_date|date:"j F Y, время: H:i:s" }}</span>
                <p><b>Автор:</b> <mark><a href="{% url 'post_author' post.author %}">{{ post.author }}</a></mark></p>
                <p>{{ post.title }}</p>
                <p>{{ post.text|truncatechars:400|striptags }}</p>
                <a href="{% url 'post' post.pk %}" class="btn btn-outline-dark">Далее</a>
            </div>
        </div>
    </div>
    <hr>
    {% endfor %}
    {% if is_paginated %}  
    <nav aria-label="..." class="d-flex justify-content-center">
        <ul class="pagination">
            <li class="page-item {% if not page_obj.has_previous %} disabled {% endif %}">
            {% if page_obj.has_previous %}
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1" aria-disabled="true">Предыдущая</a>
            {% endif %}
            </li>
            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <li class="page-item active" aria-current="page">
                    <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                    </li>
                {% elif num > page_obj.number|add:-4 and num < page_obj.number|add:4 %}
                    <li class="page-item">
                    <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                    </li>
                {% endif %}
            {% endfor %}
            <li class="page-item {% if not page_obj.next_page_number %} disabled {% endif %}">
            {% if page_obj.has_next %}
                <a class="page-link" href="?page={{ page_obj.next_page_number }}" tabindex="-1" aria-disabled="true">Следующая из {{ page_obj.paginator.num_pages }}</a>
            {% endif %}
            </li>
        </ul>
    </nav>
    {% endif %}
{% endblock %}
